<!doctype html>
<html>
  <head>
    <title>Star Trader Simulation</title>
    <!-- Include the Foundation CSS framework -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites/dist/css/foundation.min.css">
  </head>
  <body class="grid-container">
    <h1>Run Simulation</h1>
    {% if message %}<p>{{ message }}</p>{% endif %}
    <form method="post">
      <label for="num_agents">Number of Agents:</label>
      <input type="number" id="num_agents" name="num_agents" value="9" min="1" class="input-number">
      <br/>
      <label for="days">Days to Simulate:</label>
      <input type="number" id="days" name="days" value="1" min="1" class="input-number">
      <br/>
      <input type="submit" value="Simulate" class="button">
    </form>
    <form method="post" style="margin-top: 1em;">
      <input type="hidden" name="reset" value="1">
      <input type="submit" value="Reset Simulation" class="alert button">
    </form>
  </body>
</html>
